OLD/StatisticaV4.sublime-workspace
StatisticaV4.code-workspace
StatisticaV4.sublime-workspace
OLD/command.py
OLD/__init__.py
OLD/utils.py
OLD/config/grammar.cfg
OLD/etc/command OLD.py
OLD/etc/data.py
OLD/etc/guidelines.txt
OLD/etc/testing.py
OLD/etc/writeup.txt
OLD/info/about.py
OLD/info/help.py
OLD/~data/chain.dat
OLD/models/transformer.py
OLD/models/markov_tree.py
OLD/models/markov_tagged.py
OLD/~data/phrases.dat
